/*Enter your text here*/
/*Enter your text here*/
* {
    margin: 0px;
  }
  body {
    background-image: url("PageBackground.jpeg");
    background-repeat: no-repeat;
    background-position: top;
  }
  .container {
    margin: 0px 60px;
    background-color: #d7cbab;
  }
  
  /* =========
      HeaderDiv
      =========== */
  .headerDiv {
    background-image: url(HeaderBackground.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position-x: right;
    color: white;
    position: relative;
  }
  .headerDiv .logo {
    width: 300px;
    height: 100px;
    padding: 3px;
    margin: 3px;
  }
  .headerDiv h1 {
    display: inline;
    position: absolute;
    top: 25px;
    padding-left: 8px;
  }
  .headerDiv ul {
    list-style: none;
    position: absolute;
    display: inline-flex;
    top: 82px;
    padding-left: 0px;
  }
  .headerDiv ul li {
    padding: 5px 0px 3px 30px;
  }
  .headerDiv ul li a {
    text-decoration: none;
    color: white;
    font: small-caption;
  }
  .header-right {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
  }
  .header-right1,
  .header-right2 {
    padding: 15px;
    margin: 15px;
  }
  
  /* =========
      bodyDiv
  ============ */
  
  .bodyDiv {
    margin-top: 10px;
    margin-left: 10px;
  }
  .bodyDiv a {
    text-decoration: none;
    color: hsl(227deg 45% 45%);
    font-style: oblique;
  }
  .bodyContent {
    display: flex;
  }
  
  /*=========
    bodyContent left
    ========== */
  
  .bodyContent .left {
    float: left;
    padding: 2px;
    margin: 3px;
  }
  .bodyHeader {
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: smaller;
    align-items: center;
    padding: 15px 0px;
    margin: 15px 0px;
  }
  .gallery .image-gallery {
    width: 33%;
  }
  iframe {
    width: -webkit-fill-available;
  }
  .figure1 {
    display: inline-block;
    padding: 5px;
    margin: 5px;
  }
  .figure1 figcaption {
    font-size: small;
    width: 178px;
  }
  /*=========
    bodyContent right
    ========== */
  
  .bodyContent .right {
    padding: 0px 5px;
    margin: 0px 5px;
    width: 28%;
  }
  .right .right-images {
    display: inline-flex;
    width: 100%;
    padding: 1px;
    align-items: center;
    flex-direction: row;
  }
  .right-images img {
    width: 130px;
    padding: 5px;
  }
  .right-images p {
    font-size: smaller;
    width: max-content;
  }
  .list-item1 {
    float: left;
    line-height: 30px;
    padding: 50px;
  }
  .list-item2 {
    float: right;
    line-height: 30px;
    padding: 50px;
    padding-right: 100px;
    margin-right: 100px;
  }
  
  /* ===========
      footerDiv
  ============= */
  
  .footer1 nav ul {
    list-style: none;
    display: flex;
  }
  .footer1 nav ul a {
    text-decoration: none;
    color: hsl(227deg 45% 45%);
    padding: 7px;
    margin: 7px;
  }
  .PlayStore {
    width: 150px;
  }
  .AppleStore {
    width: 140px;
  }
  .footerDiv {
    display: flex;
  }
  .footer1 {
    padding: 5px 10px;
    margin: 5px 10px;
  }
  .footer1 p {
    padding: 18px;
    color: hsl(0deg 0% 50%);
  }
  .footer2 {
    display: flex;
    padding: 5px 5px;
    margin: 5px 5px;
  }
  .footer2-left {
    padding: 0px 15px;
    margin: 0px 15px;
  }
  .fa {
    font-size: 40px;
    padding-top: 10px;
    padding-left: 12px;
  }
  figure {
    float: right;
  }
  
  .tableClass {
    float: right;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 11px;
  }
  tr {
    border: 1px solid black;
  }
  td,
  th {
    display: inline;
  }
  td ul {
    list-style: none;
  }
  